# Google Sheets Configuration
GOOGLE_APPLICATION_CREDENTIALS=service_account.json
GSHEET_URL=
SHEET_TAB=

# MongoDB Configuration
MONGO_URI=
MONGO_DB=
MONGO_COLLECTION=

# Dataset and Collections
DATASET_NAME=sekolahku
GSHEET_ID=
WORKSHEET_NAME=

# Collections
RAW_COLLECTION=
STG_COLLECTION=
PROD_COLLECTION=
