# AWS Secrets Manager
AWS_SECRETS_NAME=sekolahku-mod-dataproc-secret-dev

# MongoDB connection
MONGO_URI=mongodb://username:password@localhost:27017/
DB_NAME=sekolahku
SEKOLAH_COLLECTION=Sekolah
ENTITI_SEKOLAH_COLLECTION=EntitiSekolah
ANALITIK_SEKOLAH_COLLECTION=AnalitikSekolah
NEGERI_PARLIMEN_KOD_SEKOLAH_COLLECTION=NegeriParlimenKodSekolah

# Google Sheets (only required if SOURCE=gsheet)
# Obtain the Sheet ID from the URL: https://docs.google.com/spreadsheets/d/<GSHEET_ID>/edit
GSHEET_ID=
GSHEET_GID=

# S3 bucket
S3_BUCKET_PUBLIC=my.gov.digital.sekolahku-public-dev
S3_BUCKET_DATAPROC=my.gov.digital.sekolahku-dataproc-bucket-dev
S3_PREFIX_ASSETS_SOURCE=assets/source
S3_PREFIX_ASSETS_TEMP=assets/temp

# AWS Credentials (secret)
AWS_PROFILE=

# Max docs per bulk_write batch
BATCH_SIZE=500
# Logging level: DEBUG | INFO | WARNING | ERROR
LOG_LEVEL=INFO
# API port
PORT=8000

# Entity revalidation controls
ENTITI_REVALIDATE_BATCH_SIZE=100
ENTITI_REVALIDATE_MAX_WORKERS=10
ENTITI_REVALIDATE_TEMP_PREFIX=temp

# Asset export controls
ASSET_EXPORT_BATCH_SIZE=50
ASSET_EXPORT_MAX_WORKERS=5
ASSET_EXPORT_SOURCE_BUCKET=my.gov.digital.sekolahku-assets-source-dev
