annotated-types==0.7.0
boto3==1.42.0
botocore==1.41.6
dnspython==2.7.0
email-validator==2.3.0
idna==3.11
jmespath==1.0.1
pydantic==2.12.5
pydantic-settings==2.11.0
pydantic_core==2.41.5
pymongo==4.15.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
s3transfer==0.16.0
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==1.26.20
